<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Innerve-2020</title>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

    <!--Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/navbar/css/nav.css">
  </head>
  <body>

    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-xl py-0 fixed-top">
      <!-- <a href="#" class="navbar-brand">CANDY</a> -->
      <a href="/" class="navbar-brand logo">
        <img src="/navbar/img/innerve_logo.png">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/events" class="nav-link"  style="color: #eed9b7">EVENTS</a>
          </li>
          <!-- <li class="nav-item">
            <a href="/register" class="nav-link"  style="color: #eed9b7">REGISTER</a>
          </li>
          <li class="nav-item">
            <a href="/gallery" class="nav-link"  style="color: #eed9b7">GALLERY</a>
          </li> -->
          <li class="nav-item">
            <a href="/sponsors" class="nav-link"  style="color: #eed9b7">SPONSORS</a>
          </li>
          <!-- <li class="nav-item">
            <a href="/schedule" class="nav-link"  style="color: #eed9b7">SCHEDULE</a>
          </li> -->
          <li class="nav-item">
            <a href="/social-campaign" class="nav-link"  style="color: #eed9b7">SOCIAL CAMPAIGN</a>
          </li>
          <li class="nav-item">
            <a href="/meet-the-team" class="nav-link"  style="color: #eed9b7">MEET THE TEAM!</a>
          </li>
        </ul>
      </div>
    </nav>
