<%- include('./partials/header') %>

<link rel="stylesheet" href="/schedule/css/style.css">

<section id="schedule" class="s-speakers-schedule">
    <div class="container">

        <div class="jumbotron" style="margin-top: 40px;">
            <h1 class="display-4">SCHEDULE</h1>
        </div>

        <div class="speakers-timeline-cover">

            <!--**************CSE/IT STARTS****************-->

            <div class="speakers-timeline-item">
                <div class="speakers-timeline-img">

                    <div class="flip">
                        <div class="front" style="background-image: url(/schedule/img/CSE1.jpg); margin-left: 42%;"">

                        </div>
                        <div class=" back" style="background-image: url(/schedule/img/CSE2.jpg); margin-left: 42%;">
                    </div>
                </div>
            </div>


            <div class="speakers-timeline-info">


                <div class="dropdown">
                    <button class="dropbtn">CSE/IT Events</button>

                    <div class="dropdown-content">


                        <!-- The overlay -->
                        <div id="myNav1" class="overlay">

                            <!-- Button to close the overlay navigation -->
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">&times;</a>

                            <!-- Overlay content -->
                            <div class="overlay-content">
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Hogwarts: The
                                        Wizards Unite</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Know The
                                        Unknown</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Code
                                        Heist</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Find The
                                        Vaccine</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>The Naval
                                        Code</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Code for
                                        Candies</strong></a>

                            </div>

                        </div>

                        <!-- Use any element to open/show the overlay navigation menu -->
                        <span class="menuContentOverlay" onclick="openNav1()"><a>Day1</a>
                            <a>Day2</a>

                        </span>

                    </div>

                </div>



            </div>
        </div>

        <!--**************CSE/IT ENDS****************-->


        <!--**************ECE STARTS****************-->

        <div class="speakers-timeline-item">
            <div class="speakers-timeline-img">

                <div class="flip">
                    <div class="front" style="background-image: url(/schedule/img/ECE.jpg);margin-left: -42%;">

                    </div>
                    <div class="back" style="background-image: url(/schedule/img/ECE2.jpg);margin-left: -42%;">
                        <!--
                            <div class="buttons">
                                <button data-pop="Efirst"  class="Eshow1">DAY-1</button>
                                <button data-pop="Esecond"  class="Eshow2">DAY-2</button>
                            </div>
                        -->
                    </div>
                </div>

            </div>
            <div class="speakers-timeline-info">

                <div class="dropdown">
                    <button class="dropbtn">ECE Events</button>
                    <div class="dropdown-content">


                        <!-- The overlay -->
                        <div id="myNav2" class="overlay">

                            <!-- Button to close the overlay navigation -->
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>

                            <!-- Overlay content -->
                            <div class="overlay-content">
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Technovate</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Electro-Enigma</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Digit
                                        Cluster</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Virtual Robo
                                        Race</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>CodeArduino</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Circuit
                                        Debug</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Circuitrix</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Ideathon</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Technoquest</strong></a>
                            </div>

                        </div>

                        <!-- Use any element to open/show the overlay navigation menu -->
                        <span class="menuContentOverlay" onclick="openNav2()"><a>Day1</a>
                            <a>Day2</a>

                        </span>

                    </div>
                </div>

            </div>
        </div>

        <!--**************ECE ENDS****************-->



        <!--**************MECHANICAL STARTS****************-->

        <div class="speakers-timeline-item">
            <div class="speakers-timeline-img">



                <div class="flip">
                    <div class="front" style="background-image: url(/schedule/img/MAE.jpg);margin-left: 42%;">

                    </div>



                    <div class="back" style="background-image: url(/schedule/img/MAE2.jpg);margin-left: 42%;">
                        <!--
<div class="buttons">
                                
<button data-pop="Mfirst"  class="Mshow1">DAY-1</button>
<button data-pop="Msecond"  class="Mshow2">DAY-2</button>
</div>
-->
                    </div>


                </div>

            </div>



            <div class="speakers-timeline-info">

                <div class="dropdown">
                    <button class="dropbtn"><strong>Mechanical Events</strong></button>
                    <div class="dropdown-content">


                        <!-- The overlay -->
                        <div id="myNav" class="overlay">

                            <!-- Button to close the overlay navigation -->
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                            <!-- Overlay content -->
                            <div class="overlay-content">
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Mechmaster</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Line Following
                                        Robot</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Reality
                                        Solver</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Mechathon</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Digital
                                        Doodling</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Hunt It
                                        Out</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Akruti</strong></a>

                            </div>

                        </div>

                        <!-- Use any element to open/show the overlay navigation menu -->
                        <span class="menuContentOverlay" onclick="openNav()"><a>Day1</a>
                            <a>Day2</a>

                        </span>

                    </div>
                </div>

            </div>
        </div>



        <!--**************MECHANICAL ENDS****************-->






        <!--**************INFORMAL STARTS****************-->

        <div class="speakers-timeline-item">
            <div class="speakers-timeline-img">

                <div class="flip">
                    <div class="front" style="background-image: url(/schedule/img/informal.png);margin-left: -42%;">

                    </div>
                    <div class="back" style="background-image: url(/schedule/img/informal2.jpg);margin-left: -42%;">
                        <!--	<div class="buttons">
                                <button data-pop="Ifirst"  class="Ishow1">DAY-1</button>
                                <button data-pop="Isecond"  class="Ishow2">DAY-2</button>
                            </div> -->
                    </div>
                </div>

            </div>
            <div class="speakers-timeline-info">

                <div class="dropdown">
                    <button class="dropbtn">Informal Events</button>
                    <div class="dropdown-content">


                        <!-- The overlay -->
                        <div id="myNav3" class="overlay">

                            <!-- Button to close the overlay navigation -->
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>

                            <!-- Overlay content -->
                            <div class="overlay-content">
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Mystery
                                        Rooms</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Scavenger
                                        Hunt/Treasure Hunt</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Online Beg
                                        Borrow</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Short Video
                                        Challenges </strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Tambola</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Home Beg
                                        Borrow</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Memory
                                        Game</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Word
                                        Crossword</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Online Dum
                                        Charades</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Irrelevant
                                        Answer</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>7 in 7</strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Guess The Meme
                                    </strong></a>
                                <a href="https://www.innerve-igdtuw.com/events.html"><strong>Quiz
                                        Up</strong></a>

                            </div>

                        </div>

                        <!-- Use any element to open/show the overlay navigation menu -->
                        <span class="menuContentOverlay" onclick="openNav3()"><a>Day1</a>
                            <a>Day2</a>

                        </span>

                    </div>
                </div>



            </div>

        </div>

        <!--**************INFORMAL ENDS****************-->

    </div>
    </div>
</section>


<!--****************************************POPUPS*****************************************-->



<!--****************CSE/IT POPUPS START******************-->

<!--*************DAY-1****************-->

<div class="popup Cfirst">
    <div class="Calert1">
        <h2><strong>DAY-1 EVENTS</strong></h2>
        <h3>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Hogwarts: The
                    Wizards Unite</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Know The
                    Unknown</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Code
                    Heist</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Find The
                    Vaccine</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>The Naval
                    Code</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Code for
                    Candies</strong></a>

        </h3>
        <span class="close">X</span>
    </div>
</div>

<!--*************DAY-2****************-->

<div class="popup Csecond">
    <div class="Calert2">
        <h2><strong>DAY-2 EVENTS</strong></h2>
        <h3>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Hogwarts: The
                    Wizards Unite</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Know The
                    Unknown</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Code
                    Heist</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Find The
                    Vaccine</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>The Naval
                    Code</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Code for
                    Candies</strong></a>

        </h3>
        <span class="close">X</span>
    </div>

</div>

<!--****************CSE/IT POPUPS END******************-->



<!--****************ECE POPUPS START******************-->

<!--*************DAY-1****************-->

<div class="popup Efirst">
    <div class="Ealert1">
        <h2><strong>DAY-1 EVENTS</strong></h2>
        <h3>
            style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Technovate</strong></a>
            <a style="color:black;"
                href="https://www.innerve-igdtuw.com/events.html"><strong>Electro-Enigma</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Digit
                    Cluster</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Virtual Robo
                    Race</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>CodeArduino</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Circuit
                    Debug</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Circuitrix</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Ideathon</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Technoquest</strong></a>
        </h3>
        <span class="close">X</span>
    </div>
</div>

<!--*************DAY-2****************-->

<div class="popup Esecond">
    <div class="Ealert2">
        <h2><strong>DAY-2 EVENTS</strong></h2>
        <h3>
            href="https://www.innerve-igdtuw.com/events.html"><strong>Technovate</strong></a>
            <a style="color:black;"
                href="https://www.innerve-igdtuw.com/events.html"><strong>Electro-Enigma</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Digit
                    Cluster</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Virtual Robo
                    Race</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>CodeArduino</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Circuit
                    Debug</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Circuitrix</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Ideathon</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Technoquest</strong></a>
        </h3>
        <span class="close">X</span>
    </div>

</div>

<!--****************ECE POPUPS END******************-->




<!--****************MECHANICAL POPUPS START******************-->

<!--*************DAY-1****************-->

<div class="popup Mfirst">
    <div class="Malert1">
        <div class="day1">
            <h2><strong>DAY-1 EVENTS</strong></h2>
        </div>

        <h3>
            <a style="color: black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Mechmaster</strong></a>
            <a style="color: black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Line Following
                    Robot</strong></a>
            <a style="color: black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Reality
                    Solver</strong></a>
            <a style="color: black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Mechathon</strong></a>
            <a style="color: black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Digital
                    Doodling</strong></a>
            <a style="color: black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Hunt It Out</strong></a>
            <a style="color: black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Akruti</strong></a>

        </h3>
        <span class="close">X</span>
    </div>
</div>

<!--*************DAY-2****************-->

<div class="popup Msecond">
    <div class="Malert2">
        <div class="day2">
            <h2><strong>DAY-2 EVENTS</strong></h2>
        </div>

        <h3>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Mechmaster</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Line Following
                    Robot</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Reality
                    Solver</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Mechathon</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Digital
                    Doodling</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Hunt It Out</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Akruti</strong></a>

        </h3>
        <span class="close">X</span>
    </div>

</div>

<!--****************MECHANICAL POPUPS END******************-->




<!--****************INFORMAL POPUPS START******************-->

<!--*************DAY-1****************-->

<div class="popup Ifirst">
    <div class="Ialert1">
        <h2><strong>DAY-1 EVENTS</strong></h2>
        <h3>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Mystery
                    Rooms</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Scavenger
                    Hunt/Treasure Hunt</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Online Beg
                    Borrow</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Short Video
                    Challenges </strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Tambola</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Home Beg
                    Borrow</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Memory
                    Game</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Word
                    Crossword</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Online Dum
                    Charades</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Irrelevant
                    Answer</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>7 in 7</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Guess The Meme
                </strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Quiz
                    Up</strong></a>
        </h3>
        <span class="close">X</span>
    </div>
</div>

<!--*************DAY-2****************-->

<div class="popup Isecond">
    <div class="Ialert2">
        <h2><strong>DAY-2 EVENTS</strong></h2>
        <h3>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Mystery
                    Rooms</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Scavenger
                    Hunt/Treasure Hunt</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Online Beg
                    Borrow</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Short Video
                    Challenges </strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Tambola</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Home Beg
                    Borrow</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Memory
                    Game</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Word
                    Crossword</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Online Dum
                    Charades</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Irrelevant
                    Answer</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>7 in 7</strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Guess The Meme
                </strong></a>
            <a style="color:black;" href="https://www.innerve-igdtuw.com/events.html"><strong>Quiz
                    Up</strong></a>
        </h3>
        <span class="close">X</span>
    </div>

</div>

<script src="/schedule/js/index.js"></script>

<%- include('./partials/footer') %>